#root {
  flex-wrap: wrap;
  flex-direction: column;
}
.card-content {
  background-color: aliceblue;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  min-height: 500px;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.poke-name {
  color: #000;
  text-transform: capitalize;
  font-family: "Helvetica";
}
.poke-img {
  width: 150px;
  height: 150px;
}
.poke-type-list {
  padding: 0;
  color: #000;
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.card-btn {
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  border: 0;
  background-color: #000;
  color: white;
  cursor: pointer;
}
.card-btn:hover {
  background-color: #000000a2;
}

.btn-reset {
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  border: 0;
  cursor: pointer;
}
